<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="../statics/bootstrap/css/bootstrap-theme.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/bootstrap-treeview/css/bootstrap-treeview.min.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/bootstrap-tabs/bootstrap-tab.css" />
<link rel="stylesheet" type="text/css" href="../statics/css/main.css" />
<link rel="stylesheet" type="text/css"
	href="../statics/bootstrap-tabs/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css"
	href="../statics/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" type="text/css" href="../statics/toastr/css/toastr.css">
<link rel="stylesheet" type="text/css" href="../statics/bootstrapValidator/css/bootstrapValidator.min.css">

<link rel="stylesheet" type="text/css" href="../statics/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="../statics/bootstrap-menu/menu.css">
<link rel="stylesheet" type="text/css" href="../statics/bootstrap-table/extensions/editable/css/bootstrap-editable.css">
<link rel="stylesheet" type="text/css" href="../statics/bootstrap-select/css/bootstrap-select.min.css"/>
<link rel="stylesheet" type="text/css" href="../statics/bootstrap-tabs/css/nth.tabs.min.css" >
<link rel="stylesheet" type="text/css" href="../statics/bootstrap-tabs/css/jquery.scrollbar.min.css" >

<script type="text/javascript"
	src="../statics/bootstrap/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript"
	src="../statics/jQuery/jquery-1.8.3.min.js"></script> -->

<script type="text/javascript"
	src="../statics/bootstrap-treeview/js/bootstrap-treeview.min.js"></script>
<script type="text/javascript"
	src="../statics/bootstrap-tabs/bootstrap-tab.js"></script>
<script src="../statics/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../statics/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
<script src="../statics/js/tools/pinyin.js"></script>
<script type="text/javascript" src="../statics/toastr/js/toastr.min.js"></script>
<script type="text/javascript">
	toastr.options.positionClass = 'toast-center-center';
</script>
<script type="text/javascript" src="../statics/js/tools/confirm.js"></script>
<script type="text/javascript"
	src="../statics/bootstrapValidator/js/bootstrapValidator.min.js"></script>
	
<script type="text/javascript" src="../statics/bootstrap-table/extensions/editable/js/bootstrap-editable.min.js"></script>	

<script type="text/javascript" src="../statics/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>

<script type="text/javascript" src="../statics/bootstrap-select/js/bootstrap-select.min.js"></script>

<script type="text/javascript" src="../statics/bootstrap-select/js/i18n/defaults-zh_CN.min.js"></script>

<script type="text/javascript" src="../statics/bootstrap-tabs/js/nth.tabs.min.js"></script>

<script type="text/javascript" src="../statics/bootstrap-tabs/js/jquery.scrollbar.min.js"></script>

</head>
<body>

</body>
</html>